@import '../../../colours.scss';

.subnav {
  background-color: $nav-primary;
  box-shadow: 0px 1px 3px rgba(black, 0.3);
}

.subnav__item {
  display: inline-flex;
  padding: 0.7em 1em;
  color: $white;
  border-bottom: 2px solid transparent;
  font-weight: 700;
  font-size: 0.9rem;

  i {
   
    font-size: 1.2rem;
  }
  &:hover {
    border-bottom: 2px solid $icon-primary;
    color: $icon-primary;
  }
}