@import '../../colours.scss';

.project__comment {
  margin: 0.5em 0;
  padding: 5px 10px;
  p {
    margin: 0;
  }
}

.comment__creator {
  font-weight: 700;
  font-size: 0.7rem;
  margin-top: 1em !important;
}