@import '../../colours.scss';

.feedback__wrapper {
  margin: 2em 0;
}

.green-vote {
  background-color: $secondary;
  border: 1px solid $secondary;
}

.grey-vote {
  background-color: $hr;
  border: 1px solid $hr;
}
.red-vote {
  background-color: $icon-primary;
  border: 1px solid $icon-primary;  
}

.green-vote,
.grey-vote,
.red-vote {
  i {
    color: $white;
  }
}