@import '../../colours.scss';

.modal__wrapper {
  width:100%;
  cursor: default;
  background-color: rgba($primary, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  overflow: scroll;
}

.modal__content {
  width: 100%;
  max-width: 600px;
  background-color: darken($white, 5%);
  border-radius: 10px;
  padding: 1.5em;
  box-shadow: 0px 1px 3px 1px rgba(black, 0.2);
  margin-top: 3em;
  position: absolute;
  z-index: 100;
  top: 0.8em;
  left: 50%;
  transform: translateX(-50%);
}
.header.small {

  background-color: transparent;
  h3 {
    margin-top: 0;
  }
  span {
    font-weight: 700;
  }
}

.modal__content.modal__project {
  max-width: 1000px;
}

.modal__image--hero {
  width: 100%;
  height: 400px;
  background-color: rebeccapurple;
}

.modal__header--project {
  border-bottom: 1px solid rgba(black, 0.1);
  margin-bottom: 2em;
}

.about__creator {
  width: 300px;
  background-color: $white;
  padding: 1em;
  border: 1px solid hsl(0, 0%, 84.3%);
}

.about__creator--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  padding: 0.5em;
  border: 1px solid rgba(black, 0.1);
  background-color: $white;
}

.feedback-action {
  display: flex;
  align-items: center;
  width: 75px;
  border-radius: 10px;
  
  > i {
    margin-right: 10px;
  }
}

.like-action, 
.dislike-action {
  color: darken($light-grey, 30%);

  p {
    color: inherit;
  }
}

.like-action:hover {
  color: $secondary;

  p {
    color: inherit;
  }
}

.dislike-action:hover {
  color: $icon-primary;

  p {
    color: inherit;
  }
}

.description {
  margin: 1em 0;
}