$hr: hsl(0, 0%, 90.9%);
$primary: #1f1f1f;
$light-grey: rgb(243, 243, 243);
$secondary: #2ECC71;
$icon-primary:  #F03434;
$white: rgb(99.9%, 99.9%, 99.9%);
$purple:#674172;

.secondary {
  color: $secondary;
}

.icon-primary {
  color: $icon-primary;
}

.light-grey {
  color: lighten($primary, 15%);
}

.success {
  color: $secondary;
}

.danger {
  color: $icon-primary;
}