@import '../../colours.scss';

.form {
  width: 100%;
  max-width: 400px;
}

.input {
  width: 100%;
  border: 1.5px solid $hr;
  padding: 1em;

  &::placeholder {
    font-style: italic;
  }
}

.form-group {
  margin: 0.5em 0;
}