@import '../../colours.scss';

.form {
  width: 100%;
  max-width: 400px;
}

.form.wide {
  max-width: 100% !important;
}

.input {
  width: 100%;
  border: 1.5px solid $hr;
  padding: 1em;
  margin: 0.5em 0;
  &::placeholder {
    font-style: italic;
  }
}

.form-group {
  margin: 0.5em 0;
}

.form-group {
  display:flex;
  flex-direction: column;
  margin-top: 1em;
}

textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 0.7rem;
  padding: 0.5em;
  border: 1.5px solid $hr;
  resize: vertical;
}